USE [master]
GO
DROP DATABASE IF EXISTS NestF
/****** Object:  Database [NestF]    Script Date: 11/13/2022 11:34:27 AM ******/
CREATE DATABASE [NestF]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NestF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NestF]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[phone] [char](10) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[gender] [bit] NOT NULL,
	[point] [int] NOT NULL,
	[role] [char](2) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBill]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBill](
	[billID] [int] IDENTITY(1,1) NOT NULL,
	[cusPhone] [char](10) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[transactionID] [varchar](50) NOT NULL,
	[statusID] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[cancelReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblBill] PRIMARY KEY CLUSTERED 
(
	[billID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBillDetail]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBillDetail](
	[billDetailID] [int] IDENTITY(1,1) NOT NULL,
	[billID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[total] [decimal](18, 0) NOT NULL,
	[selPhone] [char](10) NOT NULL,
 CONSTRAINT [PK_tblBillDetail] PRIMARY KEY CLUSTERED 
(
	[billDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCart]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[cusPhone] [char](10) NOT NULL,
	[productID] [int] NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_tblCart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblProductType] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedbacks]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedbacks](
	[feedbackID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[cusPhone] [char](10) NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblFeedbacks] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblIncome]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIncome](
	[incomeID] [int] IDENTITY(1,1) NOT NULL,
	[selPhone] [char](10) NULL,
	[date] [date] NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblIncome] PRIMARY KEY CLUSTERED 
(
	[incomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPost]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPost](
	[postID] [int] IDENTITY(1,1) NOT NULL,
	[adPhone] [char](10) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[postDate] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[thumbnail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblPost] PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
	[discountPrice] [float] NOT NULL,
	[productDes] [nvarchar](max) NULL,
	[image] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[detailDes] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductSeller]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductSeller](
	[productSellerID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[selPhone] [char](10) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblProductSeller] PRIMARY KEY CLUSTERED 
(
	[productSellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVoucher]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVoucher](
	[voucherID] [int] IDENTITY(1,1) NOT NULL,
	[typeID] [int] NOT NULL,
	[cusPhone] [char](10) NOT NULL,
	[status] [bit] NOT NULL,
	[expiredDate] [date] NOT NULL,
 CONSTRAINT [PK_tblVoucher] PRIMARY KEY CLUSTERED 
(
	[voucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVoucherType]    Script Date: 11/13/2022 11:34:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVoucherType](
	[typeID] [int] IDENTITY(1,1) NOT NULL,
	[voucherName] [nvarchar](50) NOT NULL,
	[saleValue] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[point] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblVoucherType] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAccount] ([phone], [password], [name], [address], [gender], [point], [role], [status]) VALUES (N'0869274367', N'123456', N'Toàn ', N'123 Long Thạnh Mỹ TP HCM', 0, 0, N'US', 0)
INSERT [dbo].[tblAccount] ([phone], [password], [name], [address], [gender], [point], [role], [status]) VALUES (N'0988123123', N'123456', N'Nguyễn Văn A', N'123 Nguyễn Văn Tăng', 0, 0, N'SE', 1)
INSERT [dbo].[tblAccount] ([phone], [password], [name], [address], [gender], [point], [role], [status]) VALUES (N'0988222222', N'123456', N'Nguyễn Văn B', N'456 Nguyễn Văn Tăng', 1, 0, N'SE', 1)
GO
SET IDENTITY_INSERT [dbo].[tblBill] ON 

INSERT [dbo].[tblBill] ([billID], [cusPhone], [address], [transactionID], [statusID], [time], [total], [cancelReason]) VALUES (12, N'0988444444', N'111 Nguyễn Văn Tăng', N'2UX72135UR359060N', 4, CAST(N'2022-09-11T21:28:59.137' AS DateTime), 7200000, NULL)
INSERT [dbo].[tblBill] ([billID], [cusPhone], [address], [transactionID], [statusID], [time], [total], [cancelReason]) VALUES (13, N'0988444444', N'111 Nguyễn Văn Tăng', N'2TD40443KV3689746', 4, CAST(N'2022-09-12T21:31:52.347' AS DateTime), 6570000, NULL)
INSERT [dbo].[tblBill] ([billID], [cusPhone], [address], [transactionID], [statusID], [time], [total], [cancelReason]) VALUES (14, N'0988444444', N'111 Nguyễn Văn Tăng', N'34J85265L1172721M', 5, CAST(N'2022-10-11T21:36:17.383' AS DateTime), 4250000, N'Muốn thay đổi sản phẩm trong đơn hàng')
SET IDENTITY_INSERT [dbo].[tblBill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBillDetail] ON 

INSERT [dbo].[tblBillDetail] ([billDetailID], [billID], [productID], [quantity], [price], [total], [selPhone]) VALUES (1, 12, 3, 2, 3600000, CAST(7200000 AS Decimal(18, 0)), N'0988123123')
INSERT [dbo].[tblBillDetail] ([billDetailID], [billID], [productID], [quantity], [price], [total], [selPhone]) VALUES (2, 13, 10, 1, 650000, CAST(650000 AS Decimal(18, 0)), N'0988123123')
INSERT [dbo].[tblBillDetail] ([billDetailID], [billID], [productID], [quantity], [price], [total], [selPhone]) VALUES (3, 13, 7, 1, 5200000, CAST(5200000 AS Decimal(18, 0)), N'0988222222')
SET IDENTITY_INSERT [dbo].[tblBillDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCart] ON 

INSERT [dbo].[tblCart] ([cartID], [cusPhone], [productID], [amount]) VALUES (36, N'0988777777', 3, 1)
SET IDENTITY_INSERT [dbo].[tblCart] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (1, N'Tổ yến thô')
INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (2, N'Tổ yến tinh chế')
INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (3, N'Yến chưng tươi')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblIncome] ON 

INSERT [dbo].[tblIncome] ([incomeID], [selPhone], [date], [total]) VALUES (1, N'0988123123', CAST(N'2022-09-16' AS Date), CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[tblIncome] ([incomeID], [selPhone], [date], [total]) VALUES (2, N'0988333333', CAST(N'2022-09-17' AS Date), CAST(7480000 AS Decimal(18, 0)))
INSERT [dbo].[tblIncome] ([incomeID], [selPhone], [date], [total]) VALUES (3, N'0988222222', CAST(N'2022-09-16' AS Date), CAST(5350000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tblIncome] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPost] ON 

SET IDENTITY_INSERT [dbo].[tblPost] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProducts] ON 

SET IDENTITY_INSERT [dbo].[tblProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductSeller] ON 

INSERT [dbo].[tblProductSeller] ([productSellerID], [productID], [selPhone], [isActive]) VALUES (1, 1, N'0988123123', 1)
INSERT [dbo].[tblProductSeller] ([productSellerID], [productID], [selPhone], [isActive]) VALUES (2, 2, N'0988123123', 1)
INSERT [dbo].[tblProductSeller] ([productSellerID], [productID], [selPhone], [isActive]) VALUES (3, 3, N'0988123123', 1)
SET IDENTITY_INSERT [dbo].[tblProductSeller] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStatus] ON 

INSERT [dbo].[tblStatus] ([statusID], [status]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[tblStatus] ([statusID], [status]) VALUES (2, N'Chờ lấy hàng')
INSERT [dbo].[tblStatus] ([statusID], [status]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[tblStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVoucher] ON 

INSERT [dbo].[tblVoucher] ([voucherID], [typeID], [cusPhone], [status], [expiredDate]) VALUES (1, 1, N'0988444444', 1, CAST(N'2022-11-21' AS Date))
INSERT [dbo].[tblVoucher] ([voucherID], [typeID], [cusPhone], [status], [expiredDate]) VALUES (2, 4, N'0988555555', 1, CAST(N'2022-11-22' AS Date))
INSERT [dbo].[tblVoucher] ([voucherID], [typeID], [cusPhone], [status], [expiredDate]) VALUES (3, 2, N'0988777777', 1, CAST(N'2022-11-21' AS Date))
SET IDENTITY_INSERT [dbo].[tblVoucher] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVoucherType] ON 

INSERT [dbo].[tblVoucherType] ([typeID], [voucherName], [saleValue], [quantity], [point], [status]) VALUES (1, N'Giảm 500k', 500000, 100, 4700, 1)
INSERT [dbo].[tblVoucherType] ([typeID], [voucherName], [saleValue], [quantity], [point], [status]) VALUES (2, N'Giảm 300k', 300000, 100, 2800, 1)
INSERT [dbo].[tblVoucherType] ([typeID], [voucherName], [saleValue], [quantity], [point], [status]) VALUES (3, N'Giảm 1000k', 1000000, 98, 9000, 1)
SET IDENTITY_INSERT [dbo].[tblVoucherType] OFF
GO
ALTER TABLE [dbo].[tblAccount] ADD  CONSTRAINT [DF_tblAccount_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[tblBill]  WITH CHECK ADD  CONSTRAINT [FK__tblBill__cusPhon__5165187F] FOREIGN KEY([cusPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblBill] CHECK CONSTRAINT [FK__tblBill__cusPhon__5165187F]
GO
ALTER TABLE [dbo].[tblBill]  WITH CHECK ADD FOREIGN KEY([statusID])
REFERENCES [dbo].[tblStatus] ([statusID])
GO
ALTER TABLE [dbo].[tblBillDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblBillDe__billI__4F7CD00D] FOREIGN KEY([billID])
REFERENCES [dbo].[tblBill] ([billID])
GO
ALTER TABLE [dbo].[tblBillDetail] CHECK CONSTRAINT [FK__tblBillDe__billI__4F7CD00D]
GO
ALTER TABLE [dbo].[tblBillDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblBillDe__produ__5070F446] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblBillDetail] CHECK CONSTRAINT [FK__tblBillDe__produ__5070F446]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD  CONSTRAINT [FK__tblCart__cusPhon__534D60F1] FOREIGN KEY([cusPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblCart] CHECK CONSTRAINT [FK__tblCart__cusPhon__534D60F1]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD  CONSTRAINT [FK__tblCart__product__5441852A] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblCart] CHECK CONSTRAINT [FK__tblCart__product__5441852A]
GO
ALTER TABLE [dbo].[tblFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK__tblFeedba__cusPh__59FA5E80] FOREIGN KEY([cusPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblFeedbacks] CHECK CONSTRAINT [FK__tblFeedba__cusPh__59FA5E80]
GO
ALTER TABLE [dbo].[tblFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK__tblFeedba__produ__59063A47] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblFeedbacks] CHECK CONSTRAINT [FK__tblFeedba__produ__59063A47]
GO
ALTER TABLE [dbo].[tblIncome]  WITH CHECK ADD  CONSTRAINT [FK__tblIncome__selPh__5629CD9C] FOREIGN KEY([selPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblIncome] CHECK CONSTRAINT [FK__tblIncome__selPh__5629CD9C]
GO
ALTER TABLE [dbo].[tblPost]  WITH CHECK ADD  CONSTRAINT [FK__tblPost__adPhone__5535A963] FOREIGN KEY([adPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblPost] CHECK CONSTRAINT [FK__tblPost__adPhone__5535A963]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__categ__4E88ABD4] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK__tblProduc__categ__4E88ABD4]
GO
ALTER TABLE [dbo].[tblProductSeller]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__produ__5BE2A6F2] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblProductSeller] CHECK CONSTRAINT [FK__tblProduc__produ__5BE2A6F2]
GO
ALTER TABLE [dbo].[tblProductSeller]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__selPh__5AEE82B9] FOREIGN KEY([selPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblProductSeller] CHECK CONSTRAINT [FK__tblProduc__selPh__5AEE82B9]
GO
ALTER TABLE [dbo].[tblVoucher]  WITH CHECK ADD  CONSTRAINT [FK__tblVouche__cusPh__5812160E] FOREIGN KEY([cusPhone])
REFERENCES [dbo].[tblAccount] ([phone])
GO
ALTER TABLE [dbo].[tblVoucher] CHECK CONSTRAINT [FK__tblVouche__cusPh__5812160E]
GO
ALTER TABLE [dbo].[tblVoucher]  WITH CHECK ADD  CONSTRAINT [FK__tblVouche__typeI__571DF1D5] FOREIGN KEY([typeID])
REFERENCES [dbo].[tblVoucherType] ([typeID])
GO
ALTER TABLE [dbo].[tblVoucher] CHECK CONSTRAINT [FK__tblVouche__typeI__571DF1D5]
GO
USE [master]
GO
